.statsBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 26px;
    justify-content: flex-start;
    gap: 4px;

    .statsSection {
        width: 100%;
        padding: 0 12px;
        border-radius: var(--br-section);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        justify-content: center;
        overflow: hidden;

        .statItem {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 12px 0;
            flex-direction: column;
            border-bottom: 1px solid var(--app-secondary-bg);
            gap: 5px;

            .statLabel {
                font-size: 15px;
                color: var(--app-hint);
            }

            .statValue {
                font-size: 17px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 6px;

                .starIcon {
                    width: 24px;
                    height: 24px;
                }
                
                .inlineValue {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 4px;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                .positiveStatus {
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: var(--app-green);
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
