.faqPage {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;

   .iconWrapper {
     display: flex;
     align-items: center;
     margin-top: 26px;
     justify-content: center;

     svg {
        width: 100px;
        height: 100px;
     }
   }
}