.socialBonusSection {
  width: 86%;
  padding: 3px 10px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  background: var(--app-button);
  gap: 10px;
  justify-content: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:active {
    opacity: 0.85;
  }

  .socialTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

    .iconWrapper {
      width: 27px;
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 25px;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    .socialLabel {
      font-size: 14px;
      font-family: var(--rounded) !important;
      font-weight: 500; 
      line-height: 1.1;
    }
  }

  .arrowWrapper {
    display: none;
    align-items: center;
    justify-content: flex-end;

    svg {
      width: 16px;
      height: 16px;
      margin-top: 2px;
    }
  }

  .checkWrapper {
    display: none;
    align-items: center;
    justify-content: flex-end;
  }

  .checkIcon {
    width: 18px;
    height: 18px;
    color: var(--app-button-text, #fff);
  }
}