.historyPage {
  width: 100%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  
  .list {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .empty {
    width: 100%;
    margin-top: 10px;
  }
}