.languagePage {
   width: 100%;
   display: flex;
   flex-direction: column;
   padding-top: 22px;
   align-items: flex-start;
   justify-content: flex-start;

   .content {
     width: 100%;
     margin-top: 8px;
   }
}