.loaderScreen {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background: var(--app-secondary-bg);
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;

    .iconWrapper {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: var(--app-button);
        display: flex;
        position: relative;
        margin-top: -20px;
        align-items: center;
        justify-content: center;

        svg {
            width: 85px;
            height: 85px;
        }
    }
}