.mainHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 18px;
    margin-top: 18px;

    .profileWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
    .walletButtonWrapper {
       position: relative;

       .walletButton {
        border-radius: 100px;
        overflow: hidden;
        height: 40px;
        padding: 0 12px;
      
        h6 {
          font-family: 'SF Pro Rounded' !important;
          font-size: 15px;
          font-weight: 600 !important;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 4px;
        }
       }
    }
}