.suggestionPage {
  position: fixed;
  inset: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  overflow: hidden;
  background: var(--app-bg, var(--tg-theme-bg-color));
}

.suggestionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0 24px;
  width: 100%;
  max-width: 360px;

  .imageWrapper {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;

    svg {
      width: 90px;
      height: 90px;
      color: #007AFF;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .mainContent {
    .title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: var(--app-text);
      margin-bottom: 4px;
    }

    .subtitle {
      font-size: 17px;
      text-align: center;
      color: var(--app-text);
      opacity: 0.6;
      font-family: var(--rounded) !important;
      margin: 0;
    }
  }

  .actions {
    width: 100%;
    margin-top: 22px;
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .maybeLater {
    width: 100%;
    height: 54px;
    border-radius: 60px;

    h6 {
        font-size: 18px;
        font-weight: 600;
    }

    &:active {
      opacity: 0.6;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}