.paymentInitLayout {
    width: 100%;
    height: calc(var(--tg-viewport-height) - 30px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overscroll-behavior: none;
    touch-action: none;
    flex-direction: column;
    gap: 5px;
}