.paymentInitLayout {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overscroll-behavior: none;
    touch-action: none;
    padding-bottom: 30px;
    flex-direction: column;
    gap: 5px;

    h3 {
      font-family: 'SF Pro Rounded' !important;
      font-weight: 600;
    }
}