*:not(tc-root *):not(tc-root) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'SF Pro Display', sans-serif !important;
}

:root {
  --family: 'SF Pro Display', sans-serif;
  --app-bg: #000;
  --app-secondary-bg: #000;
  --app-section-bg: #000;
  --app-header-bg: #000;
  --app-text: #fff;
  --app-subtitle: #aaa;
  --app-hint: #aaa;
  --app-link: #888;
  --app-accent-text: #888;
  --app-button: #888;
  --app-button-text: #fff;
  --app-section-header-text: #888;
  --app-destructive-text: #ff595a;
  --app-section-separator: #333;
  --app-bottom-bar-bg: #000;
}


body {
  background: var(--app-secondary-bg);
  padding: 20px 16px !important;
}

.state-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30vh;
}

.empty-state {
  font-size: 14px;
  text-align: center;
  height: 30vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: var(--app-hint);
}