*:not(tc-root *):not(tc-root) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
  font-family: 'SF Pro Display', sans-serif !important;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-style: normal;
}

:root {
  --family: 'SF Pro Display', sans-serif;
  --app-bg: #000;
  --app-secondary-bg: #000;
  --app-section-bg: #000;
  --app-header-bg: #000;
  --app-text: #fff;
  --app-subtitle: #aaa;
  --app-hint: #aaa;
  --app-link: #888;
  --app-accent-text: #888;
  --app-button: #888;
  --app-button-text: #fff;
  --app-section-header-text: #888;
  --app-destructive-text: #ff595a;
  --app-section-separator: #333;
  --app-bottom-bar-bg: #000;
  --app-green: #41bd58;

  // BORDER RADIUS
  --br-section: 20px;
}

body {
  background: var(--app-secondary-bg);
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

html, body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

html.modal-open {
  overflow: hidden;  
  overscroll-behavior: none;
  height: 100%;
}

body.modal-open {
  position: fixed;    
  width: 100%;
  top: var(--scroll-lock-top, 0); 
  left: 0;
  right: 0;
}


.page-layout {
  flex: 1;
  overflow-y: auto;
  min-height: 100vh;
  padding: 0 16px 42px 16px;
}

.state-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30vh;
}

.empty-state {
  font-size: 14px;
  text-align: center;
  height: 30vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--app-button);
}

.accent-icon {
  color: var(--app-accent-text);
}

.arrow-icon {
  color: var(--app-hint);
}

.history-icon {
  color: var(--app-button);
}

.add-icon {
    color: var(--app-button-text);
}

.white-icon {
    color: var(--app-button-text);
}

.green-icon {
  color: #41bd58;
}

.error-icon {
  color: var(--tgui--secondary_fill);
}

.muted-text {
  color: var(--app-hint);
  font-size: 15px;
}

.text-icon {
  color: var(--app-text);
}

.destructive-icon {
  color: var(--app-destructive-text);
}

.subtitle {
  color: var(--app-hint);
  font-size: 14px;
  width: 100%;
  text-align: left;
  margin-top: 3px;
  padding-left: 2px;
}

.gradient-move {
    &::after {
      animation: GradientMove 5s infinite;
      background: linear-gradient(90deg, #fff0, #ffffffd9 19.79%, #fff 26.04%, #ffffffd9 32.29%, #fff0 50%);
      background-repeat: no-repeat;
      background-size: 200% 100%;
      border-radius: inherit;
      content: "";
      height: 100%;
      inset: 0;
      mix-blend-mode: soft-light;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
}

.section-title {
  padding: 0 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: var(--app-subtitle);
}

@keyframes GradientMove {
  0% {
      background-position: 150% 0;
  }

  100% {
      background-position: -150% 0;
  }
}

.apy-title {
  font-size: 15px !important;
  font-family: 'SF Pro Rounded' !important;
  border-radius: 6px;
  -webkit-text-stroke: 0.05px var(--app-green);
  padding: 2px 4px;
  color: var(--app-green) !important;
  background: rgba(34, 197, 94, 0.12);
  font-weight: 700 !important;
}