.stakeSection {
    width: 100%;
    padding: 14px;
    background: var(--app-section-bg);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    justify-content: center;
    overflow: hidden;

    .columnItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .mutedText {
            color: var(--app-hint);
            font-size: 15px;
        }

        .apyTitle {
            font-size: 14px;
            border-radius: 30px;
            font-weight: 500;
            background: var(--app-button);
            padding: 5px 10px;
            filter: drop-shadow(0 0 1.2rem var(--app-button));

        }
    }

    .starsBalance {
            display: flex;
            align-items: flex-start;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            gap: 5px;

            .starAmount {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                gap: 6px;

                img {
                    width: 27px;
                    height: 27px;
                }

                .balanceAmount {
                    font-weight: 700;
                    font-size: 24px;
                }
            }

            .value {
                font-size: 14px;
                color: var(--app-hint);
                margin-top: 2px;
            }
    }

    .buttonsContainer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 4px;

        button {
            width: 100%;

            h6 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                font-size: 16px;
            }
        }
    }
}